.section1 {
  border: 2px solid #d1fae5;
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.section1 p {
  margin: 6px 0;
}

.section1 button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #25cb96;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.section1 button:hover {
  background-color: #047857;
}
